* {
    margin: 0;
    padding: 0;
}

.quote {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    padding: 0 40px;
}

@media (max-width: 500px) {
    .quote {
        min-height: 80vh;
    }
}